{extend name='layout:layout'/}

{block name="_css"}

{/block}

{block name="_head"}
<div class="header">
    <v-toolbar>
        <v-toolbar-side-icon class="toolbar-icon"></v-toolbar-side-icon>
        <v-toolbar-title>
            <v-img class="toolbar-img" src="__basePath__/image/kooa_logo.png" contain></v-img>
        </v-toolbar-title>
        <v-spacer></v-spacer>

        <v-toolbar-items class="hidden-sm-and-down">

            <?php $data = model('User')->getBtns();?>
            {volist name = "data" id = "v" }

            {if ($v['path'] == 2)}
            {if (isset($v['children']))}
            {volist name = "v['children']" id = "a"}
            {if ($a['action_name'] == $v['action_name']) }
            <?php $controller_name = strtolower($v['controller_name']);?>
            <v-btn href="{:url($v['controller_name'].'/'.$v['action_name'])}" flat :class="{'toolbar-active': global.currentView == '<?php echo $controller_name;?>'}">
                {$v['pri_name']}
                {if ($controller_name == 'message')}
                <v-badge right class="toolbar-message-tip" v-if="global.messageCount > 0">
                    <span slot="badge">{{global.messageCount}}</span>
                </v-badge>
                {/if}
            </v-btn>
            {/if}
            {/volist}
            {/if}
            {else/}

            <v-toolbar-items>
                <v-menu offset-y>
                    <v-btn flat primary slot="activator" :class="{'toolbar-active': global.subSelect['<?php echo $v['id'];?>'] == '<?php echo $v['id'];?>' }">{$v['pri_name']}</v-btn>
                    {if (isset($v['children']))}
                    {volist name = "v['children']" id = "list"}
                    {if (isset($list['children']))}
                    {volist name = "list['children']" id = "b"}
                    {if ($b['action_name'] == $list['action_name']) }
                    <v-list dense class="toolbar-subdropdown">
                        <v-list-tile :class="{'sub-item-select': global.subSelect['<?php echo $list['id'];?>'] == '<?php echo $list['id'];?>' }" href="javascript:void(0)" @click="globalMenu({$list['id']},{$list['parent_id']},'/{$list['controller_name'].'/'.$list['action_name']}')">{$list['pri_name']}</v-list-tile>
                    </v-list>
                    {/if}
                    {/volist}
                    {/if}
                    {/volist}
                    {/if}
                </v-menu>
            </v-toolbar-items>

            {/if}
            <!-- <?php dump($data);?> -->

            {/volist}

            <v-toolbar-items>
                <v-menu offset-y>
                    <v-btn flat primary slot="activator">语言</v-btn>
                    <v-list dense class="language-dropdown">

                        <v-list-tile :class="{'sub-item-select': global.language == 'zh-cn' }" @click="">
                            简体中文
                        </v-list-tile>

                        <v-list-tile :class="{'sub-item-select': global.language == 'zh-hk' }" @click="">
                            繁体中文
                        </v-list-tile>

                        <v-list-tile :class="{'sub-item-select': global.language == 'en-us' }" @click="">
                            English
                        </v-list-tile>
                    </v-list>
                </v-menu>
            </v-toolbar-items>

            <v-toolbar-items>
                <!-- <?php dump($data);?> -->
                <v-menu offset-y>
                    <v-btn flat primary slot="activator">个人中心</v-btn>
                    <v-list dense class="language-dropdown">

                        <v-list-tile :class="{'sub-item-select': global.currentView == 'userinfo' }" href="{:url('user/userInfo')}">
                            个人资料
                        </v-list-tile>

                        <v-list-tile @click="global.changePassword.show = true">
                            修改密码
                        </v-list-tile>

                        <v-list-tile href="{:url('login/loginOut')}">
                            登出
                        </v-list-tile>
                    </v-list>
                </v-menu>
            </v-toolbar-items>
            <!-- <v-btn href="{:url('Login/loginOut')}" flat>登出</v-btn> -->
        </v-toolbar-items>
    </v-toolbar>
</div>

<v-dialog scrollable persistent v-model="global.changePassword.show" width="500">
    <v-card>
        <v-card-title class="dialog-head blue-grey lighten-5">
            修改密码
        </v-card-title>

        <v-card-text>
            <v-form ref="globalPassRef" vaild="global.changePassword.valid">
                <v-text-field label="旧密码" :append-icon="global.changePassword.passOldVis ? 'visibility_off' : 'visibility'"
                    v-model="global.changePassword.oldPassword" :type="global.changePassword.passOldVis ? 'text' : 'password'"
                    :rules="[v => !!v || '旧密码是必填']" @click:append="global.changePassword.passOldVis = !global.changePassword.passOldVis"></v-text-field>

                <v-text-field label="密码" :append-icon="global.changePassword.passVis ? 'visibility_off' : 'visibility'"
                    v-model="global.changePassword.password" :type="global.changePassword.passVis ? 'text' : 'password'"
                    :rules="[v => !!v || '新密码是必填']" @click:append="global.changePassword.passVis = !global.changePassword.passVis"></v-text-field>

                <v-text-field label="再次输入新密码" :append-icon="global.changePassword.passVis1 ? 'visibility_off' : 'visibility'"
                    v-model="global.changePassword.rePassword" :type="global.changePassword.passVis1 ? 'text' : 'password'"
                    :rules="[
                             v => !!v || '再次输入新密码是必填',
                             v => global.changePassword.password == v || '两次输入的密码不一致'
                            ]"
                    @click:append="global.changePassword.passVis1 = !global.changePassword.passVis1"></v-text-field>
            </v-form>
        </v-card-text>

        <v-card-actions class="dialog-foot blue-grey lighten-5">
            <v-spacer></v-spacer>
            <v-btn color="s-primary" @click="globalCommitPassword">
                确认
            </v-btn>
            <v-btn color="primary" flat @click="global.changePassword.show = false">
                取消
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>

{/block}

{block name="_script"}
{/block}