<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/image/kooa64.ico" rel="shortcut icon" type="image/x-icon">
    <link href="/image/kooa64.ico" rel="apple-touch-icon">
    <link href="__CSS__/css/vendor.css" rel="stylesheet" />

    {block name="meta"}{/block}
    {block name="_css"}{/block}
    {block name="css"}{/block}
</head>

<body>
    <div id="app" v-cloak>
        <v-app>

        {block name="_head"}{/block}
        {block name="body"}{/block}

        </v-app>
    </div>

    <script src="__CSS__/js/runtime.js?date=__date__"></script>
    <script src="__CSS__/js/chunks/base.js?date=__date__"></script>
    <script src="__CSS__/js/chunks/vendor.js?date=__date__"></script>

    {block name="_script"}{/block}
    {block name="script"}{/block}

</body>

</html>