<!-- 渠道管理 -->
{extend name="layout:head2_layout"/}

{block name="css"}
<style>
    .main-table-sub {
        color: #c5c4c4;
        border: 1px solid #e3e3e3;
        padding: 4px;
        margin: 6px 0;
        /* text-align: center; */
    }

    .qr-container {
        padding: 4px;
        margin: 4px 0;
    }

    .qrcode-image {
        min-height: 60px;
        min-width: 60px;
        height: 100%;
        width: 100%;
        border: 1px solid #e3e3e3;
        border-radius: 6px;
    }

    .download-qrcode {
        color: #2196f3;
        border-color: #2196f3;
        border-radius: 6px;
        text-align: center;
        display: block;
        text-decoration: none;
    }

    .download-qrcode:hover {
        color: white;
        background-color: #2196f3;
    }

    .table-sub-number {
        color: #8BC34A;
    }

    .sub-item {
        padding: 0;
        margin: 10px 0 !important;
        width: 100%;
    }

    .sub-item>div {
        padding: 0 24px !important;
    }

    .sub-tabel {
        margin-bottom: 0;
    }

    .sub-tabel tr:last-of-type {
        border-bottom: 1px solid rgba(0, 0, 0, .12);
    }

    .ach-select .v-input__control{
        padding: 0 !important;
    }

    .ach-select .v-input__control .v-input__slot{
        padding: 0;
    }
</style>
{/block}


{block name="body"}

<v-container class="content" grid-list-md>
    <div class="content-header">
        渠道
    </div>

    <v-layout row align-center>
        <v-flex xs8>
            <span class="mr-3">正崎代理(上海)有限公司</span>
            <span>负责人：陈大文</span>
        </v-flex>
        <v-flex xs4 class="text-xs-right">
            KOOA客服：武勇 1234567890
        </v-flex>
    </v-layout>

    <div class="action-bar">
        <v-btn color="s-primary" class="ml-0" @click="showAdd = true">
            <v-icon dark>add</v-icon>新增渠道
        </v-btn>
    </div>

    <v-layout v-resize="onTabelResize">
        <v-data-table :headers="theader" :items="tdata" hide-headers hide-actions item-key="id" expand class="elevation-4 s-table"
            ref="dTable">

            <template slot="items" slot-scope="props">
                <tr @click="props.expanded = !props.expanded" ref="tr">
                    <td class="text-xs-left" ref="td1">
                        {{ props.index + 1 }}
                    </td>
                    <td class="text-xs-left" ref="td2">
                        {{ props.item.channel_name }}
                        <div class="main-table-sub">
                            {{ props.item.channel_info }}
                        </div>
                    </td>
                    <td class="text-xs-left" ref="td3">
                        <div class="qr-container">
                            <v-img :src="'/channel/QrCode?url_code='+ props.item.url_code" class="qrcode-image" contain>
                        </div>
                    </td>
                    <td class="text-xs-left" ref="td4">
                        二维码信息
                        <div class="main-table-sub">
                            {{ props.item.qr_code_info }}
                        </div>
                    </td>
                    <td class="text-xs-left" ref="td5">
                        <div @click.stop="CopyUrl(props.item.url_code)">{{ props.item.url_code }}</div>
                        <a @click.stop="null" class="main-table-sub download-qrcode" :href="'/channel/QrCode?url_code='+ props.item.url_code +'&option=doc'+'&file_name='+props.item.channel_name+'_医生注册二维码'">下载二维码</a>
                    </td>
                    <td class="text-xs-right" ref="td6">
                        医生
                        <div class="table-sub-number">
                            {{ props.item.chan_doc_num }}
                        </div>
                    </td>
                    <td class="text-xs-right" ref="td7">
                        业绩
                        <div class="table-sub-number">
                            {{ props.item.chan_pfm_obj }}
                        </div>
                    </td>
                    <td class="text-xs-center" ref="td8">

                        <v-icon @click.stop="showEditDig(props.item)" title="修改" class="mr-2">
                            edit
                        </v-icon>

                        <v-icon v-if="props.item.status == -1" @click.stop="changeStatus(props.item)" color="red" title="停止">
                            block
                        </v-icon>

                        <v-icon v-if="props.item.status == 1" @click.stop="changeStatus(props.item)" color="light-green"
                            title="开始">
                            lens
                        </v-icon>
                    </td>
                </tr>
            </template>

            <template slot="expand" slot-scope="props">
                <v-data-table v-if="props.item.children.length" :style="subWidth.table" :headers="theader" :items="props.item.children"
                    hide-headers hide-actions item-key="id" expand class="s-table sub-tabel">

                    <template slot="items" slot-scope="props">
                        <tr>
                            <td class="text-xs-left" :style="subWidth.td2">
                                <span class="mr-2">
                                    {{ props.index + 1 }}
                                </span>

                                <span>
                                    {{ props.item.username }}
                                </span>
                            </td>
                            <td class="text-xs-left" :style="subWidth.td3">
                                <div class="qr-container">
                                    <v-img :src="'/channel/QrCode?url_code='+ props.item.url_code" class="qrcode-image"
                                        contain>
                                </div>
                            </td>
                            <td class="text-xs-left" :style="subWidth.td4">
                            </td>
                            <td class="text-xs-left" :style="subWidth.td5">
                                <div @click.stop="CopyUrl(props.item.url_code)">{{ props.item.url_code }}</div>
                                <a @click.stop="null" class="main-table-sub download-qrcode" :href="'/channel/QrCode?url_code='+ props.item.url_code +'&option=doc'+'&file_name='+props.item.channel_name+'_医生注册二维码'">下载二维码</a>
                            </td>
                            <td class="text-xs-right" :style="subWidth.td6">
                                医生
                                <div class="table-sub-number">
                                    {{ props.item.chan_doc_num }}
                                </div>
                            </td>
                            <td class="text-xs-right" :style="subWidth.td7">
                                业绩
                                <div class="table-sub-number">
                                    {{ props.item.chan_pfm_obj }}
                                </div>
                            </td>
                            <td class="text-xs-center" :style="subWidth.td8">
                                <v-icon @click.stop="showEditDig(props.item)" title="修改" class="mr-2">
                                    edit
                                </v-icon>

                                <v-icon v-if="props.item.status == -1" @click.stop="changeStatus(props.item)" color="red"
                                    title="停止">
                                    block
                                </v-icon>

                                <v-icon v-if="props.item.status == 1" @click.stop="changeStatus(props.item)" color="light-green"
                                    title="开始">
                                    lens
                                </v-icon>
                            </td>
                        </tr>
                    </template>
                </v-data-table>

                <div class="text-xs-center my-2" v-if="props.item.children.length == 0">
                    暂无数据
                </div>

                <div class="text-xs-center">
                    <v-btn color="s-primary" class="my-2" @click="showSales(props.item.id,props.item.channel_name)">
                        <v-icon dark>add</v-icon>新增销售员
                    </v-btn>
                </div>

            </template>
        </v-data-table>
    </v-layout>

    <v-dialog scrollable persistent v-model="showAdd" width="600">
        <v-card>
            <v-card-title class="dialog-head blue-grey lighten-5">
                新增渠道
            </v-card-title>

            <v-card-text>
                <v-form ref="addChannelForm">
                    <v-text-field label="渠道名称" v-model="addItem.channel_name"></v-text-field>
                    <v-text-field label="描述信息" v-model="addItem.channel_info"></v-text-field>
                    <v-text-field label="二维码附加信息" v-model="addItem.qr_code_info"></v-text-field>

                    <v-select class="ach-select" v-model="addItem.type" :items="achievement_type" item-text="value"
                        item-value="type" chips label="业绩目标类型" full-width>
                    </v-select>

                    <template v-if="addItem.type == 2">
                        <v-text-field label="业绩总目标" v-model="addItem.chan_pfm_obj">
                        </v-text-field>

                        <v-text-field label="医生总目标" v-model="addItem.chan_doc_num">
                        </v-text-field>
                    </template>

                </v-form>
            </v-card-text>

            <v-card-actions class="dialog-foot blue-grey lighten-5">
                <v-spacer></v-spacer>
                <v-btn color="s-primary" @click="addChannel" :loading="disabled.addChannel" :disabled="disabled.addChannel">
                    确认
                </v-btn>
                <v-btn color="primary" flat @click="showAdd = false" :disabled="disabled.addChannel">
                    取消
                </v-btn>
                </v-card-action>
        </v-card>
    </v-dialog>

    <v-dialog scrollable persistent v-model="showEdit" width="600">
        <v-card>
            <v-card-title class="dialog-head blue-grey lighten-5">
                修改渠道
            </v-card-title>

            <v-card-text>
                <v-form ref="channelEditForm">
                    <v-text-field label="描述信息" v-model="editItem.channel_info"></v-text-field>
                    <v-text-field label="二维码附加信息" v-model="editItem.qr_code_info"></v-text-field>
                    <input type="hidden" v-model="editItem.type">

                    <template v-if="editItem.p_id != 0 && editItem.type == 1">
                        <v-text-field label="业绩总目标" v-model="editItem.chan_pfm_obj">
                        </v-text-field>

                        <v-text-field label="医生总目标" v-model="editItem.chan_doc_num">
                        </v-text-field>
                    </template>

                    <template v-if="editItem.p_id == 0 && editItem.type == 2">
                        <v-text-field label="业绩总目标" v-model="editItem.chan_pfm_obj">
                        </v-text-field>

                        <v-text-field label="医生总目标" v-model="editItem.chan_doc_num">
                        </v-text-field>
                    </template>
                </v-form>
            </v-card-text>

            <v-card-actions class="dialog-foot blue-grey lighten-5">
                <v-spacer></v-spacer>
                <v-btn color="s-primary" @click="editChannel" :loading="disabled.editChannel" :disabled="disabled.editChannel">
                    确认
                </v-btn>
                <v-btn color="primary" flat @click="showEdit = false" :disabled="disabled.editChannel">
                    取消
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <v-dialog scrollable v-model="showAddSales" width="600">
        <v-card>
            <v-card-title class="dialog-head blue-grey lighten-5">
                新增销售员
            </v-card-title>

            <v-card-text>
                <v-form ref="salesForm">
                    <v-select v-model="select" return-object :items="saliesLists" item-text="username" item-value="uid"
                        attach chips label="请选择销售员" multiple full-width>
                    </v-select>
                </v-form>
            </v-card-text>

            <v-card-actions class="dialog-foot blue-grey lighten-5">
                <v-spacer></v-spacer>
                <v-btn color="s-primary" @click="addSales()" :loading="disabled.sales" :disabled="disabled.sales">
                    确认
                </v-btn>
                <v-btn color="primary" flat @click="showAddSales = false" :disabled="disabled.sales">
                    取消
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</v-container>
{/block}


{block name="script"}
<script src="__basePath__/js/chunks/channel.js?date=__date__"></script>
{/block}