<!-- 渠道管理 -->
{extend name="layout:head2_layout"/}

{block name="css"}
<style>
    .ladder {
        margin: 5px 0;
    }

    .sub-table thead,
    .sub-table thead tr,
    .sub-table thead tr th {
        visibility: hidden;
        height: 0 !important;
        overflow: hidden;
        line-height: 0;
    }

    .sub-hidden {
        visibility: hidden;
    }

    .sub-tr:not(:last-of-type) {
        border-bottom: 1px solid #e3e3e3;
    }

    .line-middle{
        margin-top: 1.3em;
    }
</style>
{/block}

{block name="body"}
<v-container class="body" grid-list-md>
    <div class="body-header">
        佣金设置
    </div>

    <div class="action-bar">
        <v-btn color="s-primary" class="ml-0" @click="showAdd = true">
            <v-icon dark>add</v-icon>新增设置
        </v-btn>
    </div>

    <v-data-table :headers="theader" :items="tdata" hide-actions item-key="a" expand class="elevation-1 s-table" ref="dTable">
        <template slot="items" slot-scope="props">
            <tr @click="props.expanded = !props.expanded">
                <td class="text-xs-left">{{ props.item.a }}</td>
                <td class="text-xs-left">{{ props.item.b }}</td>
                <td class="text-xs-right">{{ props.item.c }}</td>

                <td class="text-xs-center">
                    <div class="ladder" v-for="(citem, cidx) in props.item.children" :key="cidx">
                        {{citem.a}} - {{citem.b}}
                    </div>
                </td>

                <td class="text-xs-center">
                    <div class="ladder" v-for="(citem, cidx) in props.item.children" :key="cidx">
                        {{citem.c}}
                    </div>
                </td>

                <td class="text-xs-center">
                    <v-icon small class="mr-2">
                        edit
                    </v-icon>
                    <v-icon small>
                        delete
                    </v-icon>
                </td>
            </tr>
        </template>

        <template slot="expand" slot-scope="props">
            <v-data-table :headers="theader" :items="props.item.history" hide-actions item-key="a" expand class="s-table sub-table"
                ref="dTable">

                <template slot="items" slot-scope="sub_props">
                    <tr class="sub-tr">
                        <td class="text-xs-left">{{ sub_props.item.a }}</td>
                        <td class="text-xs-left">{{ sub_props.item.b }}</td>
                        <td class="text-xs-right">{{ sub_props.item.c }}</td>

                        <td class="text-xs-center">
                            <div class="ladder" v-for="(citem, cidx) in sub_props.item.children" :key="cidx">
                                {{citem.a}} - {{citem.b}}
                            </div>
                        </td>

                        <td class="text-xs-center">
                            <div class="ladder" v-for="(citem, cidx) in sub_props.item.children" :key="cidx">
                                {{citem.c}}
                            </div>
                        </td>

                        <td class="text-xs-center">
                            <div class="sub-hidden">
                                <v-icon small class="mr-2">
                                    stop
                                </v-icon>
                                <v-icon small>
                                    stop
                                </v-icon>
                            </div>

                        </td>
                    </tr>
                </template>

            </v-data-table>

        </template>
    </v-data-table>

</v-container>

<v-dialog scrollable v-model="showAdd" width="600">
    <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>
            新增
        </v-card-title>

        <v-card-text>
            <v-form>
                <v-layout column>
                    <!-- <v-flex xs6 class="mr-2">
                        商品
                    </v-flex>
                    <v-flex xs2 class="mr-2">
                        类型
                    </v-flex>
                    <v-flex xs4 class="ml-2">
                        计算方式
                    </v-flex> -->

                    <v-flex xs12>
                        <v-layout>
                            <v-flex xs6 class="mr-2">
                                <v-select :items="product" label="商品"></v-select>
                            </v-flex>
                            <v-flex xs2 class="mr-2">
                                <v-select :items="method" label="类型"></v-select>
                            </v-flex>
                            <v-flex xs4 class="ml-2">
                                <v-select :items="rule" label="计算方式"></v-select>
                            </v-flex>
                        </v-layout>
                    </v-flex>

                    <v-flex xs12 v-for="(item, index) in edit.step" :key="index">
                        <v-layout>
                            <v-flex xs4 class="mr-2">
                                <v-text-field label="Step Start" type="number" v-model="item.a"></v-text-field>
                            </v-flex>
                            <v-flex xs1 class="mr-2 text-xs-center" align-content-space-between>
                                <div class="line-middle">
                                    ━━
                                </div>
                            </v-flex>
                            <v-flex xs4 class="mr-2">
                                <v-text-field label="Step End" type="number" v-model="item.b"></v-text-field>
                            </v-flex>
                            <v-flex xs2 class="ml-2">
                                <v-text-field label="Number" type="number" v-model="item.c"></v-text-field>
                            </v-flex>
                            <v-flex xs1 class="mr-2 text-xs-center" align-content-space-between>
                                <v-btn fab flat small color="primary" @click="remvoeStep(index)">
                                    <v-icon>remove</v-icon>
                                </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
            </v-form>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="s-primary" class="ml-0" @click="addStep">
                <v-icon left>playlist_add</v-icon>
                新增步进
            </v-btn>
            <v-btn color="s-primary" @click="showAdd = false">
                确认
            </v-btn>
            <v-btn color="primary" flat @click="showAdd = false">
                取消
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>
{/block}

{block name="script"}
<script src="__basePath__/js/chunks/commision_setting.js?date=__date__"></script>
{/block}