{extend name="layout:head_layout"/}

{block name="css"}
<style>
    .content {
        max-width: 600px;
        flex: none;
    }

    .s-primary {
        margin: 10px 0;
        width: 100%;
    }
</style>
{/block}

{block name="body"}
<v-container class="content" grid-list-md text-xs-center>
    <div class="content-header">
        忘记密码
    </div>

    <v-form ref="form" v-model="valid">
        <v-text-field label="手机号" :rules="phoneRoules" v-model.trim="data.phone_num"></v-text-field>
        <v-btn class="s-primary" @click="sendSMS" :rules="IdentifyingCodeRoules" :disabled="smsDisabled">{{identifyBtnText}}</v-btn>
        <v-text-field label="验证码" :rules="IdentifyingCodeRoules" v-model.trim="data.identify_code"></v-text-field>
        <v-btn class="s-primary" :disabled="!valid" @click="submit">提交</v-btn>
    </v-form>

</v-container>

{/block}

{block name="script"}
<script src="__basePath__/js/chunks/forget_password.js?date=__date__"></script>
{/block}