{extend name="layout:head_layout"/}

{block name="css"}
<style>
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 600px;
    }

    .s-primary {
        margin: 10px 0;
        width: 100%;
    }
</style>
{/block}

{block name="body"}
<v-container class="content" grid-list-md text-xs-center>
    <div class="content-header">
        KOOA - Sales Management System
    </div>

    <v-form>
        <v-text-field label="用户名" v-model="data.username"></v-text-field>
        <v-text-field label="密码" v-model="data.password" :append-icon="show_pass ? 'visibility_off' : 'visibility'" :type="show_pass ? 'text' : 'password'"
            @click:append="show_pass = !show_pass"></v-text-field>
        <v-checkbox color="info" v-model="data.remember" hide-details label="Remember me"></v-checkbox>
        <v-btn class="s-primary" @click="handlerSubmit">登录</v-btn>

        <div class="text-xs-left">
            忘记用户名或密码
            <a href="{:url('Login/searchPass')}">
                点击找回密码
            </a>
        </div>
    </v-form>

</v-container>
{/block}

{block name="script"}
<script src="__basePath__/js/chunks/index.js?date=__date__"></script>
{/block}