<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="__CSS__/css/test.css?date=__date__" rel="stylesheet" type="text/css">
</head>
<body >
    <div id="app" @click="test">

        php test123123s
    </div>
    
    <!-- <script src="__JS__/js/chunks/vendors~aa~testc187.js?date=__date__"></script>
    <script src="__JS__/js/chunks/testc187.js?date=__date__"></script>
    
    <script src="__JS__/js/runtime~test.js?date=__date__"></script> -->

    <script src="__JS__/js/chunks/common.js?date=__date__"></script>
    <script src="__JS__/js/test.js?date=__date__"></script>
    
    
</body>


</html>