{extend name="layout:head2_layout"/}

{block name="css"}

{/block}

{block name="body"}
<v-container class="content" grid-list-md text-xs-center>
    <div class="content-header">
        通知设置
    </div>

    <div class="action-bar">
        <v-btn color="s-primary" class="ml-0" @click="showAddDig">
            <v-icon dark>add</v-icon>新增
        </v-btn>
    </div>

    <v-layout>
        <v-data-table :headers="theader" :items="tdata" hide-actions item-key="a" expand class="elevation-4 s-table"
            ref="dTable">

            <template slot="items" slot-scope="props">
                <tr @click="props.expanded = !props.expanded">
                    <td class="text-xs-left" ref="td1">
                        {{ props.item.a }}
                    </td>
                    <td class="text-xs-left">
                        {{ props.item.b }}
                    </td>
                    <td class="text-xs-left">
                        {{ props.item.c }}
                    </td>
                    <td class="text-xs-center">
                        <v-icon small class="mr-2">
                            edit
                        </v-icon>
                        <v-icon small>
                            delete
                        </v-icon>
                    </td>
                </tr>
            </template>
        </v-data-table>
    </v-layout>

    <v-dialog scrollable v-model="showAdd" width="500">
        <v-card>
            <v-card-title class="headline grey lighten-2" primary-title>
                新增
            </v-card-title>

            <v-card-text>
                <v-form>
                    <!-- <v-select :items="items" label="类型"></v-select> -->
                    <v-select return-object :items="item_child" item-text="select_name" item-value="id" attach chips :label="items">
                          
                    </v-select>

                    <v-textarea label="消息内容" value="消息内容" hint="请输入消息内容"></v-textarea>
                </v-form>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="s-primary" @click="showAdd = false">
                    确认
                </v-btn>
                <v-btn color="primary" flat @click="showAdd = false">
                    取消
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

</v-container>
{/block}

{block name="script"}
<script src="__basePath__/js/chunks/notify_setting.js?date=__date__"></script>
{/block}