<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>通知设置</title>

    <link href="./css/reset.css" rel="stylesheet" />
    <link href="./css/vuetify.min.css" rel="stylesheet" />
    <link href="./css/css.css" rel="stylesheet" />
    <link href="./css/common.css" rel="stylesheet" />

</head>

<body>
    <div id="app">
        <v-app>
            <div class="header">
                <v-toolbar>
                    <v-toolbar-side-icon class="toolbar-icon"></v-toolbar-side-icon>
                    <v-toolbar-title>
                        <v-img class="toolbar-img" src="./images/kooa_logo.png" contain></v-img>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>

                    <v-toolbar-items class="hidden-sm-and-down">
                        <v-btn href="./team.html" flat>团队</v-btn>
                        <v-btn href="./channel.html" flat>渠道</v-btn>
                        <v-btn href="./achievement.html" flat>业绩</v-btn>
                        <v-btn href="./distribution_network.html" flat>销售网络</v-btn>
                        <v-btn href="./message.html" flat>
                            消息
                            <v-badge right class="toolbar-message-tip">
                                <span slot="badge">6</span>
                            </v-badge>
                        </v-btn>
                    </v-toolbar-items>

                    <v-toolbar-items>

                        <v-menu offset-y>
                            <v-btn flat primary slot="activator">语言</v-btn>
                            <v-list dense class="toolbar-dropdown">
                                <v-list-tile @click="">
                                    <v-list-tile-title>
                                        English
                                    </v-list-tile-title>
                                </v-list-tile>

                                <v-list-tile @click="">
                                    <v-list-tile-title>简体中文</v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile @click="">
                                    <v-list-tile-title>繁体中文</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                    </v-toolbar-items>

                    <v-toolbar-items class="hidden-sm-and-down">
                        <v-menu offset-y>
                            <v-btn flat primary slot="activator">系统信息</v-btn>
                            <v-list dense class="toolbar-dropdown">

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                <!-- <v-icon>$vuetify.icons.product</v-icon> -->
                                                用户管理
                                            </v-list-tile-title>

                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="window.location.href='./user_permisson.html'">
                                                <v-list-tile-title>
                                                    权限
                                                </v-list-tile-title>
                                            </v-list-tile>
                                            <v-list-tile @click="window.location.href='./user_role.html'">
                                                <v-list-tile-title>
                                                    角色
                                                </v-list-tile-title>
                                            </v-list-tile>
                                            <v-list-tile @click="window.location.href='./user_manage.html'">
                                                <v-list-tile-title>
                                                    用户
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                佣金管理
                                            </v-list-tile-title>
                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="window.location.href='./commision_setting.html'">
                                                <v-list-tile-title>
                                                    佣金设置
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                财务管理
                                            </v-list-tile-title>
                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    财务资料
                                                </v-list-tile-title>
                                            </v-list-tile>
                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    财务报表
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                报表管理
                                            </v-list-tile-title>
                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    经销商报表
                                                </v-list-tile-title>
                                            </v-list-tile>
                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    内部销售员报表
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                参数设置
                                            </v-list-tile-title>
                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="window.location.href='./reg_setting.html'">
                                                <v-list-tile-title>
                                                    注册设置
                                                </v-list-tile-title>
                                            </v-list-tile>

                                            <v-list-tile @click="window.location.href='./notify_setting.html'">
                                                <v-list-tile-title>
                                                    消息设置
                                                </v-list-tile-title>
                                            </v-list-tile>

                                            <v-list-tile @click="window.location.href='./protocol_setting.html'">
                                                <v-list-tile-title>
                                                    协议设置
                                                </v-list-tile-title>
                                            </v-list-tile>

                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    医生脱离设置
                                                </v-list-tile-title>
                                            </v-list-tile>

                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    审批流程设置
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                审核管理
                                            </v-list-tile-title>
                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="window.location.href='./reg_audit.html'">
                                                <v-list-tile-title>
                                                    注册审核
                                                </v-list-tile-title>
                                            </v-list-tile>

                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    医生脱离审核
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>
                            </v-list>
                        </v-menu>

                        <v-btn href="./login.html" flat>登出</v-btn>
                    </v-toolbar-items>
                </v-toolbar>
            </div>

            <v-container class="body" grid-list-md text-xs-center>
                <div class="body-header">
                    通知设置
                </div>

                <div class="action-bar">
                    <v-btn color="s-primary" class="ml-0" @click="showAdd = true">
                        <v-icon dark>add</v-icon>新增
                    </v-btn>
                </div>

                <v-layout>
                    <v-data-table :headers="theader" :items="tdata" hide-actions item-key="a" expand class="elevation-1 s-table"
                        ref="dTable">

                        <template slot="items" slot-scope="props">
                            <tr @click="props.expanded = !props.expanded">
                                <td class="text-xs-left" ref="td1">
                                    {{ props.item.a }}
                                </td>
                                <td class="text-xs-left">
                                    {{ props.item.b }}
                                </td>
                                <td class="text-xs-left">
                                    {{ props.item.c }}
                                </td>
                                <td class="text-xs-center">
                                    <v-icon small class="mr-2">
                                        edit
                                    </v-icon>
                                    <v-icon small>
                                        delete
                                    </v-icon>
                                </td>
                            </tr>
                        </template>
                    </v-data-table>
                </v-layout>

                <v-dialog scrollable v-model="showAdd" width="500">
                    <v-card>
                        <v-card-title class="headline grey lighten-2" primary-title>
                            新增
                        </v-card-title>

                        <v-card-text>
                            <v-form>
                                <v-select :items="items" label="类型"></v-select>
                                <v-textarea label="消息内容" value="消息内容" hint="请输入消息内容"></v-textarea>
                            </v-form>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="s-primary" @click="showAdd = false">
                                确认
                            </v-btn>
                            <v-btn color="primary" flat @click="showAdd = false">
                                取消
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

            </v-container>
        </v-app>
    </div>



    <script src="./js/vue.js"></script>
    <script src="./js/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',

            data() {
                return {
                    showAdd: false,

                    items: [
                        '佣金变动消息'
                    ],

                    theader: [{
                            text: '',
                            align: 'left',
                            value: 'a',
                            sortable: false,
                        },
                        {
                            text: '消息类型',
                            align: 'left',
                            value: 'b',
                            sortable: false,
                        },
                        {
                            text: '消息内容',
                            align: 'left',
                            value: 'c',
                            sortable: false,
                        },
                        {
                            align: 'center',
                            value: 'd',
                            sortable: false,
                        },
                    ],

                    tdata: [{
                        a: 1,
                        b: '佣金消息',
                        c: '1322312321231223',
                    }]
                }
            }
        });
    </script>
</body>

</html>