{extend name="layout:head2_layout"/}

{block name="css"}
<!-- <link href="__basePath__/css/person_detail.css" rel="stylesheet" /> -->

<style>
    .content {
        max-width: 1000px;
    }

    .protocol {
        text-align: center;
        margin-top: 10px;
    }

    .person-btn {
        margin: 10px 0;
        width: 100%;
    }

    .image-upload {
        min-height: 140px;
    }
</style>
{/block}

{block name="body"}
<v-container class="content" grid-list-md text-xs-center>
    <div class="content-header">
        个人资料修改
    </div>

    <v-form>
        <input type="hidden" v-model.trim="data.user_id">
        <v-text-field label="姓" v-model.trim="data.first_name"></v-text-field>
        <v-text-field label="名字" v-model.trim="data.last_name"></v-text-field>
        <v-text-field label="银行账号" v-model.trim="data.bank_account"></v-text-field>
        <v-text-field label="银行名称" v-model.trim="data.bank_name"></v-text-field>
        <v-text-field label="银行地址" v-model.trim="data.bank_address"></v-text-field>
        <v-text-field label="开户名" v-model.trim="data.account_name"></v-text-field>
        <v-text-field label="固定电话" v-model.trim="data.fixed_tel"></v-text-field>

        <v-layout>
            <v-flex>
                <v-text-field label="移动电话" v-model.trim="data.phone"></v-text-field>
            </v-flex>

            <template v-if="phoneChange">
                <v-btn class="s-primary send-btn" @click="sendSMS" :disabled="smsDisabled">{{identifyBtnText}}</v-btn>    
            </template>
            
        </v-layout>

        <template v-if="phoneChange">
            <v-text-field label="手机验证码" v-model.trim="data.verify_code"></v-text-field>    
        </template>

        <v-layout row wrap>
            <v-flex md4 xs12 class="image-upload">
                <upload-image data-field="data.image_url" :image-url="data.photo_self" url="/user/upload?type=2&user_id=<?php echo $_SESSION['think']['user_info']['id'];?>"
                    content="个人照片"></upload-image>
            </v-flex>

            <v-flex md4 xs12 class="image-upload">
                <upload-image data-field="data.image_url" :image-url="data.id_card_front" url="/user/upload?type=3&user_id=<?php echo $_SESSION['think']['user_info']['id'];?>"
                    content="身份证正面"></upload-image>
            </v-flex>

            <v-flex md4 xs12 class="image-upload">
                <upload-image data-field="data.image_url" :image-url="data.id_card_back" url="/user/upload?type=4&user_id=<?php echo $_SESSION['think']['user_info']['id'];?>"
                    content="身份证反面"></upload-image>
            </v-flex>
        </v-layout>


        <v-btn color="s-primary person-btn" @click="submit">确定</v-btn>
    </v-form>
</v-container>
{/block}

{block name="script"}
<script src="__basePath__/js/chunks/person_detail.js?date=__date__"></script>
{/block}