{extend name="layout:head2_layout"/}

{block name="css"}
<style>
    .ck-content {
        height: 400px;
    }
</style>
{/block}

{block name="body"}
<v-container class="content" grid-list-md text-xs-center>
    <div class="content-header">
        协议设置
    </div>

    <div class="action-bar">
        {if (in_array('config/addprotocol',$_SESSION['think']['auth']) || $_SESSION['think']['user_info']['id'] == 1)}
        <v-btn color="s-primary" class="ml-0" @click="showAdd = true">
            <v-icon dark>add</v-icon>新增
        </v-btn>
        {/if}
    </div>

    <v-layout>
        <v-data-table :headers="theader" :items="tdata" hide-actions item-key="a" expand class="elevation-4 s-table"
            ref="dTable">

            <template slot="items" slot-scope="props">
                <tr @click.stop="showDialog(props.item.id, true)">
                    <td class="text-xs-left">
                        {{ props.item.id }}
                    </td>
                    <td class="text-xs-left">
                        {{ props.item.title }}
                    </td>
                    <td class="text-xs-left">
                        {{ props.item.create_time }}
                    </td>
                    <td class="text-xs-left">
                        {{ props.item.update_time }}
                    </td>
                    <td class="text-xs-center">
                        {if (in_array('config/editprotocol',$_SESSION['think']['auth']) || $_SESSION['think']['user_info']['id'] == 1)}
                        <v-icon small class="mr-2" @click.stop="showDialog(props.item, false)">
                            edit
                        </v-icon>
                        {/if}
                        {if (in_array('config/delprotocol',$_SESSION['think']['auth']) || $_SESSION['think']['user_info']['id'] == 1)}
                        <v-icon small @click.stop="del(props.item.id, props.index)">
                            delete
                        </v-icon>
                        {/if}
                    </td>
                </tr>
            </template>
        </v-data-table>
    </v-layout>

    <v-dialog persistent scrollable v-model="showAdd" width="800">
        <v-card>
            <v-card-title class="dialog-head blue-grey lighten-5">
                新增协议
            </v-card-title>

            <v-card-text>
                <v-form ref="addForm" v-model="addValid">
                    <v-text-field :rules="rules" label="协议名称" v-model.trim="addItem.title"></v-text-field>
                    <ck-editor language="zh-cn" ref="addEditor" :content="addItem.content"></ck-editor>
                </v-form>
            </v-card-text>

            <v-card-actions class="dialog-foot blue-grey lighten-5">
                <v-spacer></v-spacer>
                <v-btn color="s-primary" @click="addCommit" >
                    确认
                </v-btn>
                <v-btn color="primary" flat @click="hideDialog('add')">
                    取消
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <v-dialog persistent scrollable v-model="showEdit" width="800">
        <v-card>
            <v-card-title class="dialog-head blue-grey lighten-5">
                修改协议
            </v-card-title>

            <v-card-text>
                <v-form ref="editForm" v-model="editValid">
                    <v-text-field :rules="rules" label="协议名称" v-model.trim="editItem.title"></v-text-field>
                    <ck-editor language="zh-cn" ref="editEditor" :content="editItem.content"></ck-editor>
                </v-form>
            </v-card-text>

            <v-card-actions class="dialog-foot blue-grey lighten-5">
                <v-spacer></v-spacer>
                <v-btn color="s-primary" @click="editCommit" >
                    确认
                </v-btn>
                <v-btn color="primary" flat @click="hideDialog('edit')">
                    取消
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <v-dialog persistent scrollable v-model="showView" width="800">
        <v-card>
            <v-card-title class="dialog-head blue-grey lighten-5">
                查看协议
            </v-card-title>

            <v-card-text>
                <v-form >
                    <v-text-field :readonly="true" label="协议名称" v-model.trim="editItem.title"></v-text-field>
                    <ck-editor language="zh-cn" :disabled="true" :content="editItem.content"></ck-editor>
                </v-form>
            </v-card-text>

            <v-card-actions class="dialog-foot blue-grey lighten-5">
                <v-spacer></v-spacer>
                <v-btn color="primary" flat @click="hideDialog('view')">
                    关闭
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

</v-container>
{/block}

{block name="script"}
<script src="__basePath__/js/editor/ckeditor.js?date=__date__"></script>
<script src="__basePath__/js/chunks/protocol_setting.js?date=__date__"></script>
{/block}
