{extend name="layout:head2_layout"/}

{block name="css"}
<style>
    .upload-container {
        height: 100%;
        line-height: 140px;
        text-align: center;
        border: 1px solid #efefef;
        cursor: pointer;
    }
</style>
{/block}

{block name="body"}
<v-container class="content" grid-list-md text-xs-center>
    <div class="content-header">
        注册审核
    </div>

    <v-data-table :headers="theader" :items="tdata" hide-actions class="elevation-1 s-table">
        <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.a }}</td>
            <td class="text-xs-left">{{ props.item.b }}</td>
            <td class="text-xs-left">{{ props.item.c }}</td>
            <td class="text-xs-left">{{ props.item.d }}</td>
            <td class="text-xs-center">
                <v-btn color="s-primary" class="mr-0" @click="viewAudit(props.item)">查看明细</v-btn>
            </td>
        </template>
    </v-data-table>
</v-container>

<v-dialog scrollable v-model="auditInfo" width="600">
    <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>
            资料
        </v-card-title>

        <v-card-text>
            <template v-if="viewAuditInfo && viewAuditInfo.e == 'p'">
                <v-text-field label="用户名"></v-text-field>
                <v-text-field label="姓"></v-text-field>
                <v-text-field label="名字"></v-text-field>
                <v-text-field label="银行账号"></v-text-field>
                <v-text-field label="银行名称"></v-text-field>
                <v-text-field label="银行地址"></v-text-field>
                <v-text-field label="开户名"></v-text-field>
                <v-text-field label="固定电话"></v-text-field>
                <v-text-field label="移动电话"></v-text-field>

                <v-layout row>
                    <v-flex xs6 class="mr-1">
                        <div class="upload-container" @click="viewImage = true">
                            <v-img src="./images/webwxgetmsgimg.jpeg" class="qrcode-image" contain>
                        </div>
                    </v-flex>

                    <v-flex xs6 class="ml-1">
                        <div class="upload-container" @click="viewImage = true">
                            <v-img src="./images/webwxgetmsgimg.jpeg" class="qrcode-image" contain>
                        </div>
                    </v-flex>
                </v-layout>

            </template>

            <template v-if="viewAuditInfo && viewAuditInfo.e == 'c'">
                <v-text-field label="用户名"></v-text-field>
                <v-text-field label="密码" type="password"></v-text-field>
                <v-text-field label="姓"></v-text-field>
                <v-text-field label="名字"></v-text-field>
                <v-text-field label="公司名称"></v-text-field>
                <v-text-field label="银行账号"></v-text-field>
                <v-text-field label="开户银行名称"></v-text-field>
                <v-text-field label="开户银行地址"></v-text-field>
                <v-text-field label="公司地址"></v-text-field>
                <v-text-field label="联系人"></v-text-field>
                <v-text-field label="联系人手机"></v-text-field>
                <v-text-field label="联系人邮箱"></v-text-field>


                <v-layout row>
                    <v-flex xs4 class="mr-1">
                        <div class="upload-container" @click="viewImage = true">
                            <v-img src="./images/webwxgetmsgimg.jpeg" class="qrcode-image" contain>
                        </div>
                    </v-flex>

                    <v-flex xs4 class="mr-1">
                        <div class="upload-container" @click="viewImage = true">
                            <v-img src="./images/webwxgetmsgimg.jpeg" class="qrcode-image" contain>
                        </div>
                    </v-flex>

                    <v-flex xs4 class="ml-1">
                        <div class="upload-container" @click="viewImage = true">
                            <v-img src="./images/webwxgetmsgimg.jpeg" class="qrcode-image" contain>
                        </div>
                    </v-flex>
                </v-layout>
            </template>
        </v-card-text>

        <v-card-actions class="text-xs-right">
            <v-spacer></v-spacer>
            <v-btn color="s-primary" @click="auditInfo = false">审核通过</v-btn>
            <v-btn color="primary" flat @click="auditNotPass = true">
                审核不通过
            </v-btn>
        </v-card-actions>
    </v-card>

</v-dialog>

<v-dialog width="300" height="300" v-model="viewImage">
    <v-card>
        <v-card-text>
            <v-img src="./images/webwxgetmsgimg.jpeg" class="qrcode-image" contain>
        </v-card-text>
    </v-card>
</v-dialog>

<v-dialog width="300" scrollable height="300" v-model="auditNotPass">
    <v-card>
        <v-card-text>
            <v-textarea label="拒决理由" value="拒绝理由."></v-textarea>
        </v-card-text>
        <v-card-actions class="text-xs-right">
            <v-spacer></v-spacer>
            <v-btn color="s-primary" @click="auditNotPass = false">提交</v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>
{/block}

{block name="script"}
<script src="__basePath__/js/chunks/reg_audit.js?date=__date__"></script>
{/block}