{extend name="layout:head2_layout"/}

{block name="css"}
<style>
    .upload-container {
        min-height: 130px;
        /* line-height: 140px; */
        text-align: center;
        border: 1px solid #efefef;
        cursor: pointer;
    }

    .image_size {

        width: 100%;
        height: 100%;
    }
</style>
{/block}

{block name="body"}
<v-container class="content" grid-list-md text-xs-center>
    <div class="content-header">
        注册审核
    </div>

    <v-data-table :headers="theader" :items="tdata" hide-actions class="elevation-4 s-table">
        <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.username }}</td>
            <td class="text-xs-left">{{ props.item.first_name }}</td>
            <td class="text-xs-left">{{ props.item.last_name }}</td>
            <td class="text-xs-left">{{ props.item.role_name }}</td>
            <td class="text-xs-left">{{ props.item.phone }}</td>
            <td class="text-xs-center">
                <v-btn color="s-primary" class="mr-0" @click="viewAudit(props.item.id)">查看明细</v-btn>
            </td>
        </template>
    </v-data-table>
</v-container>

<v-dialog scrollable v-model="auditInfo" width="600">
    <v-card>
        <v-card-title class="dialog-head blue-grey lighten-5">
            资料
        </v-card-title>

        <v-card-text>

            <form ref="auditForm">
                <template v-if="type == 'p'">
                    <v-text-field label="用户名" v-model="viewAuditInfo.username" :disabled="true"></v-text-field>
                    <v-text-field label="姓" v-model="viewAuditInfo.first_name" :disabled="true"></v-text-field>
                    <v-text-field label="名字" v-model="viewAuditInfo.last_name" :disabled="true"></v-text-field>
                    <v-text-field label="银行账号" v-model="viewAuditInfo.bank_account" :disabled="true"></v-text-field>
                    <v-text-field label="银行名称" v-model="viewAuditInfo.bank_name" :disabled="true"></v-text-field>
                    <v-text-field label="银行地址" v-model="viewAuditInfo.bank_address" :disabled="true"></v-text-field>
                    <v-text-field label="开户名" v-model="viewAuditInfo.account_name" :disabled="true"></v-text-field>
                    <v-text-field label="固定电话" v-model="viewAuditInfo.fixed_tel" :disabled="true"></v-text-field>
                    <v-text-field label="移动电话" v-model="viewAuditInfo.phone" :disabled="true"></v-text-field>

                    <v-layout row>
                        <template v-if="viewAuditInfo.photo_self">
                            <v-flex xs4 class="mr-1">
                                <div class="upload-container" @click="bigImage(viewAuditInfo.photo_self)">
                                    <v-img :src="viewAuditInfo.photo_self" class="qrcode-image image_size" contain>
                                </div>
                            </v-flex>
                        </template>

                        <template v-if="viewAuditInfo.id_card_front">
                            <v-flex xs4 class="ml-1">
                                <div class="upload-container" @click="bigImage(viewAuditInfo.id_card_front)">
                                    <v-img :src="viewAuditInfo.id_card_front" class="qrcode-image image_size" contain>
                                </div>
                            </v-flex>
                        </template>

                        <template v-if="viewAuditInfo.id_card_back">
                            <v-flex xs4 class="ml-1">
                                <div class="upload-container" @click="bigImage(viewAuditInfo.id_card_back)">
                                    <v-img :src="viewAuditInfo.id_card_back" class="qrcode-image image_size" contain>
                                </div>
                            </v-flex>
                        </template>
                    </v-layout>
                </template>

                <template v-if="type == 'c'">
                    {:token('__token__','sha1')}
                    <v-text-field label="用户名" v-model="viewAuditInfo.username" :disabled="true"></v-text-field>
                    <v-text-field label="姓" v-model="viewAuditInfo.first_name" :disabled="true"></v-text-field>
                    <v-text-field label="名字" v-model="viewAuditInfo.username" :disabled="true"></v-text-field>
                    <v-text-field label="公司名称" v-model="viewAuditInfo.company_name" :disabled="true"></v-text-field>
                    <v-text-field label="银行账号" v-model="viewAuditInfo.bank_account" :disabled="true"></v-text-field>
                    <v-text-field label="开户银行名称" v-model="viewAuditInfo.account_name" :disabled="true"></v-text-field>
                    <v-text-field label="开户银行地址" v-model="viewAuditInfo.bank_address" :disabled="true"></v-text-field>
                    <v-text-field label="公司地址" v-model="viewAuditInfo.address" :disabled="true"></v-text-field>
                    <v-text-field label="联系人" v-model="viewAuditInfo.contacts" :disabled="true"></v-text-field>
                    <v-text-field label="联系人手机" v-model="viewAuditInfo.phone" :disabled="true"></v-text-field>
                    <v-text-field label="联系人邮箱" v-model="viewAuditInfo.email" :disabled="true"></v-text-field>

                    <v-layout row>

                        <template v-if="viewAuditInfo.business_licence">
                            <v-flex xs6 class="mr-1">
                                <div class="upload-container" @click="bigImage(viewAuditInfo.business_licence)">
                                    <v-img :src="viewAuditInfo.business_licence" class="qrcode-image image_size"
                                        contain>
                                </div>
                            </v-flex>
                        </template>

                        <template v-if="viewAuditInfo.photo_self">
                            <v-flex xs6 class="mr-1">
                                <div class="upload-container" @click="bigImage(viewAuditInfo.photo_self)">
                                    <v-img :src="viewAuditInfo.photo_self" class="qrcode-image image_size" contain>
                                </div>
                            </v-flex>
                        </template>

                        <template v-if="viewAuditInfo.id_card_front">
                            <v-flex xs6 class="ml-1">
                                <div class="upload-container" @click="bigImage(viewAuditInfo.id_card_front)">
                                    <v-img :src="viewAuditInfo.id_card_front" class="qrcode-image image_size" contain>
                                </div>
                            </v-flex>
                        </template>

                        <template v-if="viewAuditInfo.id_card_back">
                            <v-flex xs6 class="ml-1">
                                <div class="upload-container" @click="bigImage(viewAuditInfo.id_card_back)">
                                    <v-img :src="viewAuditInfo.id_card_back" class="qrcode-image image_size" contain>
                                </div>
                            </v-flex>
                        </template>

                    </v-layout>
                </template>
            </form>
        </v-card-text>

        <v-card-actions class="dialog-foot blue-grey lighten-5">
            <v-spacer></v-spacer>
            <v-btn color="s-primary" @click="auditCommit(viewAuditInfo.user_id)" :loading="submitLoading">审核通过</v-btn>
            <v-btn color="primary" flat @click="auditNotPs(viewAuditInfo.user_id)" :loading="submitLoading">
                审核不通过
            </v-btn>
<!-- 
            <v-btn color="primary" flat @click="auditNotPs(viewAuditInfo.user_id)" :loading="submitLoading">
                审核不通过
            </v-btn> -->
        </v-card-actions>
    </v-card>

</v-dialog>

<v-dialog width="500" height="500" v-model="viewImage">
    <v-card>
        <v-card-text>
            <v-img :src="image_url" class="qrcode-image" contain>
        </v-card-text>
    </v-card>
</v-dialog>

<v-dialog width="300" scrollable height="300" v-model="auditNotPass">
    <v-card>
        <v-card-text>
            <v-textarea label="拒决理由" value="拒绝理由." v-model="data.note"></v-textarea>
        </v-card-text>
        <v-card-actions class="dialog-foot blue-grey lighten-5">
            <v-spacer></v-spacer>
            <v-btn color="s-primary" @click="auditCommitNotPass" :loading="submitLoading">提交</v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>
{/block}

{block name="script"}
<script src="__basePath__/js/chunks/reg_audit.js?date=__date__"></script>
{/block}