{extend name="layout:head2_layout"/}

{block name="css"}
<style>
    .menuable__content__active {
        min-width: auto !important;
    }
</style>
{/block}

{block name="body"}
<v-container class="content" grid-list-md text-xs-center>
    <div class="content-header">
        自主注册设置
    </div>

    <div class="action-bar">
        <v-btn color="s-primary" class="ml-0" @click="showAdd = true">
            <v-icon dark>add</v-icon>新增
        </v-btn>
    </div>

    <v-layout>
        <v-data-table :headers="theader" :items="tdata" hide-actions item-key="a" expand class="elevation-4 s-table"
            ref="dTable">

            <template slot="items" slot-scope="props">
                <tr @click="props.expanded = !props.expanded">
                    <td class="text-xs-left" ref="td1">
                        {{ props.item.a }}
                    </td>
                    <td class="text-xs-left">
                        {{ props.item.b }}
                    </td>
                    <td class="text-xs-left">
                        {{ props.item.c }}
                    </td>
                    <td class="text-xs-left">
                        {{ props.item.d }}
                    </td>
                    <td class="text-xs-center" ref="td5">
                        <v-icon v-if="props.item.stop" class="mr-2" color="red" title="停止">
                            block
                        </v-icon>

                        <v-icon v-if="!props.item.stop" class="mr-2" color="light-green" title="开始">
                            lens
                        </v-icon>
                    </td>
                </tr>
            </template>
        </v-data-table>
    </v-layout>

    <v-dialog scrollable v-model="showAdd" width="500">
        <v-card>
            <v-card-title class="dialog-head blue-grey lighten-5">
                新增
            </v-card-title>

            <v-card-text>
                <v-form>
                    <v-select :items="items" label="类型"></v-select>
                    <div>
                        <v-menu ref="menu" :close-on-content-click="false" v-model="menu" :nudge-right="40"
                            :return-value.sync="dateFm" lazy transition="scale-transition" offset-y
                            full-width>
                            <v-text-field label="开始日期" slot="activator" v-model="dateFm" prepend-icon="event"
                                readonly></v-text-field>
                            <v-date-picker v-model="dateFm" @input="$refs.menu.save(dateFm)"></v-date-picker>
                        </v-menu>
                    </div>
                    <div>
                        <v-menu ref="menu1" :close-on-content-click="false" v-model="menu1" :nudge-right="40"
                            :return-value.sync="dateTo" lazy transition="scale-transition" offset-y
                            full-width>
                            <v-text-field label="结束日期" slot="activator" v-model="dateTo" prepend-icon="event"
                                readonly></v-text-field>
                            <v-date-picker v-model="dateTo" @input="$refs.menu1.save(dateTo)"></v-date-picker>
                        </v-menu>
                    </div>
                </v-form>
            </v-card-text>

            <v-card-actions class="dialog-foot blue-grey lighten-5">
                <v-spacer></v-spacer>
                <v-btn color="s-primary" @click="showAdd = false">
                    确认
                </v-btn>
                <v-btn color="primary" flat @click="showAdd = false">
                    取消
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

</v-container>

{/block}

{block name="script"}
<script src="__basePath__/js/chunks/reg_setting.js?date=__date__"></script>
{/block}