{extend name="layout:head_layout"/}

{block name="css"}
<style>
    .content {
        max-width: 600px;
        flex: none;
    }

    .s-primary {
        margin: 10px 0;
        width: 100%;
    }
</style>
{/block}

{block name="body"}
<v-container class="content" grid-list-md text-xs-center>
    <div class="content-header">
        重置密码
    </div>

    <v-form ref="form" v-model="valid">
        <input type="hidden" v-model="data.uid = <?php if(isset($_GET['uid'])){ echo $_GET['uid'];} else { echo 'null';}?>">
        <v-text-field label="密码" :append-icon="show_pass ? 'visibility_off' : 'visibility'"
            v-model.trim="data.password" 
            :type="show_pass ? 'text' : 'password'"
            :rules="[v => !!v || '密码是必填']"
            @click:append="show_pass = !show_pass"></v-text-field>

        <v-text-field label="再次输入密码" :append-icon="show_pass1 ? 'visibility_off' : 'visibility'" 
            v-model.trim="data.rePassword" 
            :type="show_pass1 ? 'text' : 'password'"
            :rules="[
                     v => !!v || '确认密码是必填',
                     v => this.data.password == v || '两次输入的密码不一致' 
                    ]"
            @click:append="show_pass1 = !show_pass1"></v-text-field>

        <v-btn class="s-primary" @click="commit" :disabled="!valid">提交</v-btn>
    </v-form>

</v-container>

<!-- <v-snackbar :color="message.color" v-model="message.show" :timeout="message.time" top>
    {{ message.text }}
    <v-btn color="pink" flat @click="message.show = false">
        关闭
    </v-btn>
</v-snackbar> -->
{/block}

{block name="script"}
<script src="__basePath__/js/chunks/reset_password.js?date=__date__"></script>
{/block}