<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>重置密码</title>

    <link href="./css/reset.css" rel="stylesheet" />
    <link href="./css/vuetify.min.css" rel="stylesheet" />
    <link href="./css/css.css" rel="stylesheet" />
    <link href="./css/common.css" rel="stylesheet" />

    <style>
        .body {
            /* position: absolute; */
            /* top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); */
            max-width: 600px;
            flex: none;
        }

        .s-primary {
            margin: 10px 0;
            width: 100%;
        }
    </style>

</head>

<body>
    <div id="app">
        <v-app>
            <div class="header">
                <v-toolbar>
                    <v-toolbar-side-icon class="toolbar-icon"></v-toolbar-side-icon>
                    <v-toolbar-title>
                        <v-img class="toolbar-img" src="./images/kooa_logo.png" contain></v-img>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>

                    <v-toolbar-items class="hidden-sm-and-down">
                        <v-btn href="./login.html" flat>主页</v-btn>
                    </v-toolbar-items>

                    <v-toolbar-items>

                        <v-menu offset-y>
                            <v-btn flat primary slot="activator">语言</v-btn>
                            <v-list dense class="toolbar-dropdown">
                                <v-list-tile @click="">
                                    <v-list-tile-title>
                                        English
                                    </v-list-tile-title>
                                </v-list-tile>

                                <v-list-tile @click="">
                                    <v-list-tile-title>简体中文</v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile @click="">
                                    <v-list-tile-title>繁体中文</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                    </v-toolbar-items>

                    <v-toolbar-items class="hidden-sm-and-down">
                        <v-btn flat href="./person_reg.html">个人注册</v-btn>
                        <v-btn flat href="./company_reg.html">企业注册</v-btn>
                        <v-btn flat>联系方式</v-btn>
                    </v-toolbar-items>
                </v-toolbar>
            </div>

            <v-container class="body" grid-list-md text-xs-center>
                <div class="body-header">
                    重置密码
                </div>

                <v-form>
                    <v-text-field label="密码" :append-icon="show_pass ? 'visibility_off' : 'visibility'" :type="show_pass ? 'text' : 'password'"
                        @click:append="show_pass = !show_pass"></v-text-field>

                    <v-text-field label="再次输入密码" :append-icon="show_pass ? 'visibility_off' : 'visibility'" :type="show_pass ? 'text' : 'password'"
                        @click:append="show_pass = !show_pass"></v-text-field>

                    <v-btn class="s-primary" @click="commitChange">提交</v-btn>
                </v-form>

            </v-container>

            <v-snackbar v-model="snackbar" color="success" timeout="3000" top>
                修改成功,3秒后自动跳转.....
                <v-btn dark flat @click="snackbar = false">
                    Close
                </v-btn>
            </v-snackbar>
        </v-app>
    </div>


    <script src="./js/vue.js"></script>
    <script src="./js/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',

            methods: {
                commitChange() {
                    this.snackbar = true;

                    setTimeout(() => {
                        window.location.href = '/login.html';
                    }, 3000);
                }
            },

            data() {
                return {
                    snackbar: false,

                    show_pass: false
                }
            }
        });
    </script>
</body>

</html>