{extend name="layout:head2_layout"/}

{block name="css"}

<style>

    .invite-container{
        background-color: white;
        padding: 16px;
    }    

    .main-table-sub {
        color: #c5c4c4;
        border: 1px solid #e3e3e3;
        padding: 4px;
        margin: 6px 0;
    }

    .download-qrcode {
        color: #2196f3;
        border-color: #2196f3;
        border-radius: 6px;
        text-align: center;
        display: block;
        text-decoration: none;
    }

    .download-qrcode:hover {
        color: white;
        background-color: #2196f3;
    }

    .copy-url{
        cursor: pointer;
    }

    .copy-url:hover{
        color: #2196f3;
    }


</style>
{/block}

{block name="body"}
<v-container class="content" grid-list-md>
    <div class="content-header">
        团队
    </div>

    <!-- <div class=""> -->
    <!-- <v-container fluid> -->
    <v-layout row align-left>
        <v-flex xs6>
            主账号：正崎代理(上海)有限公司
            &nbsp;&nbsp;
            <v-btn color="s-primary" class="ml-0" @click="showEdit = true">
                <v-icon dark>edit</v-icon>修改资料
            </v-btn>
        </v-flex>
        <v-flex xs4>
            <v-card-text class="pa-0">KOOA客服：武勇 1234567890</v-card-text>
        </v-flex>
        <v-flex xs2>
            负责人：陈大文
        </v-flex>
    </v-layout>

    <div class="action-bar">
        <v-btn color="s-primary" class="ml-0" @click="showInvitation">
            <v-icon dark>add</v-icon>新增成员
        </v-btn>
    </div>

    <v-data-table :headers="theader" :items="tdata" hide-actions class="elevation-4 s-table">
        <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.first_name }}{{ props.item.last_name }}</td>
            <td class="text-xs-left">{{ props.item.phone }}</td>
            <td class="text-xs-right">{{ props.item.channel_name }}</td>
            <td class="text-xs-left">{{ props.item.chan_pfm_obj }}</td>
            <td class="text-xs-left">{{ props.item.chan_doc_num }}</td>
            <td class="text-xs-left">
                <v-checkbox color="info" hide-details></v-checkbox>
            </td>

        </template>
    </v-data-table>
</v-container>

<v-dialog scrollable v-model="showAdd" width="400">

    <v-layout column text-xs-center class="invite-container">
        <v-flex xs12 class="mb-2">
            <v-img :src="'/channel/QrCode?url_code='+ qr_code.url_code" class="qrcode-image" contain>
        </v-flex>

        <v-flex xs12 class="mb-2">
            <div class="copy-url" @click.stop="CopyUrl(qr_code.url_code)">{{ qr_code.url_code }}<br />(点击复制)</div>
        </v-flex>

        <v-flex xs12>
            <a class="main-table-sub download-qrcode" :href="'/channel/QrCode?url_code='+ qr_code.url_code +'&option=sales'">下载二维码</a>
        </v-flex>
    </v-layout>

</v-dialog>


{/block}

{block name="script"}
<script src="__basePath__/js/chunks/team.js?date=__date__"></script>
{/block}