{extend name="layout:head2_layout"/}

{block name="css"}

<style>
    /* .export {
            text-align: right;
        }

        .export .s-primary {
            margin-right: 0;
        } */

        .upload-container {
            height: 100%;
            line-height: 140px;
            text-align: center;
            border: 4px dotted #efefef;
            cursor: pointer;
            margin-left: 6px;
            /* margin-right: 0; */
        }

        .upload-container:first-of-type{
            margin-right: 6px;
            margin-left: 0;
        }
        /* .v-card__text {
            padding: 6px; 
            width: 100%;
            margin-bottom: 30px;
        } */

    </style>
{/block}

{block name="body"}
<v-container class="content" grid-list-md>
    <div class="content-header">
        团队
    </div>

    <!-- <div class=""> -->
    <!-- <v-container fluid> -->
    <v-layout row align-left>
        <v-flex xs6>
            主账号：正崎代理(上海)有限公司
            &nbsp;&nbsp;
            <v-btn color="s-primary" class="ml-0" @click="showEdit = true">
                <v-icon dark>edit</v-icon>修改资料
            </v-btn>
        </v-flex>
        <v-flex xs4>
            <v-card-text class="pa-0">KOOA客服：武勇 1234567890</v-card-text>
        </v-flex>
        <v-flex xs2>
            负责人：陈大文
        </v-flex>
    </v-layout>

    <!-- </v-container> -->
    <!-- </div> -->

    <div class="action-bar">
        <v-btn color="s-primary" class="ml-0" @click="showAdd = true">
            <v-icon dark>add</v-icon>新增成员
        </v-btn>
    </div>

    <v-data-table :headers="theader" :items="tdata" hide-actions class="elevation-1 s-table">
        <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.a }}</td>
            <td class="text-xs-left">{{ props.item.b }}</td>
            <td class="text-xs-right">{{ props.item.c }}</td>
            <td class="text-xs-left">{{ props.item.d }}</td>
            <td class="text-xs-left">{{ props.item.e }}</td>
            <td class="text-xs-left">
                <v-checkbox color="info" hide-details></v-checkbox>
            </td>
        </template>
    </v-data-table>
</v-container>

<v-dialog scrollable v-model="showAdd" width="600">
    <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>
            新增
        </v-card-title>

        <v-card-text>
            <v-form>
                <v-text-field label="用户名"></v-text-field>
                <v-text-field label="密码" :append-icon="show_pass ? 'visibility_off' : 'visibility'" :type="show_pass ? 'text' : 'password'"
                    @click:append="show_pass = !show_pass"></v-text-field>
                <v-text-field label="姓"></v-text-field>
                <v-text-field label="名字"></v-text-field>
                <v-text-field label="银行账号"></v-text-field>
                <v-text-field label="银行名称"></v-text-field>
                <v-text-field label="银行地址"></v-text-field>
                <v-text-field label="开户名"></v-text-field>
                <v-text-field label="固定电话"></v-text-field>
                <v-text-field label="移动电话"></v-text-field>

                <v-layout row wrap>
                    <v-flex xs6>
                        <div class="upload-container">
                            个人照片
                        </div>
                    </v-flex>

                    <v-flex xs6>
                        <div class="upload-container">
                            身份证照片
                        </div>
                    </v-flex>
                </v-layout>
            </v-form>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="s-primary" @click="showAdd = false">
                确认
            </v-btn>
            <v-btn color="primary" flat @click="showAdd = false">
                取消
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>

<!-- 编辑资料 -->
<v-dialog scrollable v-model="showEdit" width="600">
    <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>
            编辑资料
        </v-card-title>

        <v-card-text>
            <v-form>

                <v-text-field label="用户名"></v-text-field>
                <v-text-field label="密码" type="password"></v-text-field>
                <v-text-field label="姓"></v-text-field>
                <v-text-field label="名字"></v-text-field>
                <v-text-field label="公司名称"></v-text-field>
                <v-text-field label="银行账号"></v-text-field>
                <v-text-field label="开户银行名称"></v-text-field>
                <v-text-field label="开户银行地址"></v-text-field>
                <v-text-field label="公司地址"></v-text-field>
                <v-text-field label="联系人"></v-text-field>
                <v-text-field label="联系人手机"></v-text-field>
                <v-text-field label="联系人邮箱"></v-text-field>

                <v-layout row wrap>
                    <v-flex xs4>
                        <div class="upload-container">
                            公司营业执照
                        </div>
                    </v-flex>

                    <v-flex xs4>
                        <div class="upload-container">
                            法人个人照片
                        </div>
                    </v-flex>

                    <v-flex xs4>
                        <div class="upload-container">
                            法人身份证照片
                        </div>
                    </v-flex>
                </v-layout>

            </v-form>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="s-primary" @click="showEdit = false">
                确认
            </v-btn>
            <v-btn color="primary" flat @click="showEdit = false">
                取消
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>



{/block}

{block name="script"}
<script src="__basePath__/js/chunks/team.js?date=__date__"></script>
{/block}