{extend name="layout:head2_layout"/}

{block name="css"}

<style>
    .invite-container {
        background-color: white;
        padding: 16px;
    }

    .main-table-sub {
        color: #c5c4c4;
        border: 1px solid #e3e3e3;
        padding: 4px;
        margin: 6px 0;
    }

    .download-qrcode {
        color: #2196f3;
        border-color: #2196f3;
        border-radius: 6px;
        text-align: center;
        display: block;
        text-decoration: none;
    }

    .download-qrcode:hover {
        color: white;
        background-color: #2196f3;
    }

    .copy-url {
        cursor: pointer;
    }

    .copy-url:hover {
        color: #2196f3;
    }

    .hide-border {
        border-bottom: none !important;
    }

    .hide-pre {
        visibility: hidden;
    }

    .table-checkbox {
        display: inline-block;
    }
</style>
{/block}

{block name="body"}
<v-container class="content" grid-list-md>
    <div class="content-header">
        团队
    </div>

    <v-layout row align-left>
        <v-flex xs8>
            <span class="mr-3">正崎代理(上海)有限公司</span>
            <span>负责人：陈大文</span>
        </v-flex>
        <v-flex xs4 class="text-xs-right">
            KOOA客服：武勇 1234567890
        </v-flex>
    </v-layout>

    <div class="action-bar">
        {if (in_array('team/showinvitation',$_SESSION['think']['auth']))}
        <v-btn color="s-primary" class="ml-0" @click="showInvitation">
            <v-icon dark>add</v-icon>新增成员
        </v-btn>
        {/if}
    </div>

    <v-data-table :headers="theader" :items="tdata" hide-actions class="elevation-4 s-table">
        <template slot="items" slot-scope="props">
            <tr :class="{'hide-border': props.item.hideBorder }">
                <td class="text-xs-left" :class="{'hide-pre': props.item.hidePre }">
                    {{ props.item.first_name }}{{ props.item.last_name }}
                </td>
                <td class="text-xs-left" :class="{'hide-pre': props.item.hidePre }">
                    {{ props.item.phone }}
                </td>
                <td class="text-xs-right">{{ props.item.channel_name }}</td>
                <td class="text-xs-left">{{ props.item.chan_pfm_obj }}</td>
                <td class="text-xs-left">{{ props.item.chan_doc_num }}</td>
                <td class="text-xs-left">
                    <v-checkbox class="table-checkbox" color="info" hide-details></v-checkbox>

                    <v-icon v-if="!props.item.hidePre" @click="showPasswordDialog(props.item)" title="修改密码">
                        vpn_key
                    </v-icon>

                    <v-icon v-if="!props.item.hidePre" @click.stop="showEditSales(props.item, true)" title="修改" class="mr-2">
                        edit
                    </v-icon>

                    <v-icon v-if="!props.item.hidePre && props.item.status == 2" @click.stop="changeStatus(props.item)" color="red" title="禁用">
                            block
                    </v-icon>

                    <v-icon v-if="!props.item.hidePre && props.item.status == 1" @click.stop="changeStatus(props.item)" color="light-green"
                        title="启用">
                        lens
                    </v-icon>

                    

                </td>
            </tr>
        </template>
    </v-data-table>
</v-container>

<v-dialog scrollable v-model="showAdd" width="400">

    <v-layout column text-xs-center class="invite-container">
        <v-flex xs12 class="mb-2">
            <v-img :src="'/channel/QrCode?url_code='+ qr_code.url_code" class="qrcode-image" contain>
        </v-flex>

        <v-flex xs12 class="mb-2">
            <div class="copy-url" @click.stop="CopyUrl(qr_code.url_code)">{{ qr_code.url_code }}<br />(点击复制)</div>
        </v-flex>

        <v-flex xs12>
            <a class="main-table-sub download-qrcode" :href="'/channel/QrCode?url_code='+ qr_code.url_code +'&option=sales'">下载二维码</a>
        </v-flex>
    </v-layout>

</v-dialog>

<v-dialog scrollable v-model="showEditDialog" width="600">
    <v-card>
        <v-card-title class="dialog-head blue-grey lighten-5">
            修改销售员信息
        </v-card-title>

        <v-card-text>
            <v-form ref="editSalesForm">
                <input type="hidden" v-model.trim="editSales.user_id">
                <v-text-field label="姓" v-model.trim="editSales.first_name"></v-text-field>
                <v-text-field label="名字" v-model.trim="editSales.last_name"></v-text-field>
                <v-text-field label="银行账号" v-model.trim="editSales.bank_account"></v-text-field>
                <v-text-field label="银行名称" v-model.trim="editSales.bank_name"></v-text-field>
                <v-text-field label="银行地址" v-model.trim="editSales.bank_address"></v-text-field>
                <v-text-field label="开户名" v-model.trim="editSales.account_name"></v-text-field>
                <v-text-field label="固定电话" v-model.trim="editSales.fixed_tel"></v-text-field>

                <v-layout row wrap>
                    <v-flex md4 xs12 class="image-upload">
                        <upload-image data-field="data.image_url" :image-url="editSales.photo_self" :url="'/user/upload?type=2&user_id='+editSales.user_id"
                            content="个人照片"></upload-image>
                    </v-flex>

                    <v-flex md4 xs12 class="image-upload">
                        <upload-image data-field="data.image_url" :image-url="editSales.id_card_front" :url="'/user/upload?type=3&user_id='+editSales.user_id"
                            content="身份证正面"></upload-image>
                    </v-flex>

                    <v-flex md4 xs12 class="image-upload">
                        <upload-image data-field="data.image_url" :image-url="editSales.id_card_back" :url="'/user/upload?type=4&user_id='+editSales.user_id"
                            content="身份证反面"></upload-image>
                    </v-flex>
                </v-layout>

            </v-form>
        </v-card-text>

        <v-card-actions class="dialog-foot blue-grey lighten-5">
            <v-spacer></v-spacer>
            <v-btn color="s-primary" @click="editSalesHandler" :loading="disabled.editSales" :disabled="disabled.editSales">
                确认
            </v-btn>
            <v-btn color="primary" flat @click="showEditSales(null, false)" :disabled="disabled.editSales">
                取消
            </v-btn>
            </v-card-action>
    </v-card>
</v-dialog>

<v-dialog scrollable persistent v-model="showEditPassword" width="500">
    <v-card>
        <v-card-title class="dialog-head blue-grey lighten-5">
            修改密码
        </v-card-title>

        <v-card-text>
            <v-form ref="globalPassRef" >
                <v-text-field label="旧密码" :append-icon="global.changePassword.passOldVis ? 'visibility_off' : 'visibility'" 
                    :type="global.changePassword.passOldVis ? 'text' : 'password'" v-model="oldPassword" :rules="[v => !!v || '旧密码是必填']"  @click:append="global.changePassword.passOldVis = !global.changePassword.passOldVis"></v-text-field>

                <v-text-field label="密码" :append-icon="global.changePassword.passVis ? 'visibility_off' : 'visibility'" :type="global.changePassword.passVis ? 'text' : 'password'" v-model="newPassword" :rules="[v => !!v || '新密码是必填']" @click:append="global.changePassword.passVis = !global.changePassword.passVis"></v-text-field>

                <v-text-field label="再次输入新密码"  :append-icon="global.changePassword.passVis1 ? 'visibility_off' : 'visibility'" :type="global.changePassword.passVis1 ? 'text' : 'password'" v-model="newPassword2"
                    :rules="[
                             v => !!v || '再次输入新密码是必填',
                             v => newPassword == v || '两次输入的密码不一致'
                            ]"
                    @click:append="global.changePassword.passVis1 = !global.changePassword.passVis1"></v-text-field>
            </v-form>
        </v-card-text>

        <v-card-actions class="dialog-foot blue-grey lighten-5">
            <v-spacer></v-spacer>
            <v-btn color="s-primary" @click="commitPassword">
                确认
            </v-btn>
            <v-btn color="primary" flat @click="showEditPassword = false">
                取消
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>

{/block}

{block name="script"}
<script src="__basePath__/js/chunks/team.js?date=__date__"></script>
{/block}