<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div>
        <tree :data="data"
              idField="id",
              valueFiled="text"
              rootValue="0",
              useCheck="true"
        ></tree>
    </div>

    <script src="__basePath__/js/chunks/test.js?date=__date__"></script>
</body>

</html>