{extend name="layout:head2_layout"/}

{block name="css"}

{/block}

{block name="body"}
<v-container class="content" grid-list-md text-xs-center>
    <div class="content-header">
        Transaction History
    </div>

    <v-data-table :headers="theader" :items="tdata" hide-actions class="elevation-4 s-table">
        <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.firstName }}</td>
            <td class="text-xs-left">{{ props.item.phone }}</td>
            <td class="text-xs-right">{{ props.item.unitprice * props.item.quantity }}</td>
            <td class="text-xs-left">{{ props.item.description }}</td>
            <td class="text-xs-left">{{ props.item.created_at }}</td>
        </template>
    </v-data-table>

    <div class="text-md-center">
        {{page}}
        <v-pagination length="4" class="pager" v-model="pageIdx"></v-pagination>
    </div>

    <div class="text-md-right">
        <v-btn color="s-primary" class="mr-0">Export Excel</v-btn>
    </div>

</v-container>

{/block}

{block name="script"}
<script src="__basePath__/js/chunks/transaction_report.js?date=__date__"></script>
{/block}