<!-- 角色管理 -->
{extend name="layout:head2_layout"/}

{block name="css"}
<style>
    .role-container {
        border: 1px solid #e3e3e3;
        width: 100%;
    }

    .role-title {
        background-color: #e3e3e3;
    }

    .role {
        width: 100%;
        padding: 8px;
    }

    .role li {
        display: inline-block;
    }
</style>

{/block}

{block name="body"}
<v-container class="content" grid-list-md text-xs-center>
    <div class="content-header">
        角色管理
    </div>

    <div class="action-bar">
        <v-btn color="s-primary" class="ml-0" @click="showAdd = true">
            <v-icon dark>add</v-icon>新增
        </v-btn>
    </div>


    <v-data-table :headers="theader" :items="tdata" hide-actions class="elevation-1 s-table">
        <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.id }}</td>
            <td class="text-xs-left">{{ props.item.role_name }}</td>
            <td class="text-xs-left">{{ props.item.username }}</td>
            <td class="text-xs-left">{{ props.item.pri_name }}</td>
            <td class="text-xs-center">
                <v-icon small class="mr-2">
                    edit
                </v-icon>
                <v-icon small>
                    delete
                </v-icon>
            </td>
        </template>
    </v-data-table>
</v-container>

<v-dialog scrollable v-model="showAdd" width="500">
    <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>
            新增
        </v-card-title>

        <v-card-text>
            <v-form>
                <v-text-field label="角色名称" v-model="addItem.role_name"></v-text-field>

                <div class="role-container">
                    <div>
                        <s-tree :init-select="selected"  ref="tree" :expend="true" :tree-data="checkBoxData" id-field="id" value-filed="pri_name" root-value="0" parent-field="parent_id"></s-tree>
                    </div>
                    <!--<div class="role role-title">-->
                        <!--<v-checkbox label="会员管理" hide-details color="info"></v-checkbox>-->
                    <!--</div>-->
                    <!--<ul class="role">-->
                        <!--<li>-->
                            <!--<v-checkbox label="会员管理" hide-details color="info"></v-checkbox>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<v-checkbox label="会员管理" hide-details color="info"></v-checkbox>-->
                        <!--</li>-->
                    <!--</ul>-->
                </div>
            </v-form>
        </v-card-text>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="s-primary" @click="showAdd = false">
                确认
            </v-btn>
            <v-btn color="primary" flat @click="showAdd = false">
                取消
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>

{/block}

{block name="script"}
<script src="__basePath__/js/chunks/user_role.js?date=__date__"></script>
{/block}