<!-- 用户管理 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户管理</title>

    <link href="./css/reset.css" rel="stylesheet" />
    <link href="./css/vuetify.min.css" rel="stylesheet" />
    <link href="./css/css.css" rel="stylesheet" />
    <link href="./css/common.css" rel="stylesheet" />

</head>

<body>
    <div id="app">
        <v-app id="app">
            <div class="header">
                <v-toolbar>
                    <v-toolbar-side-icon class="toolbar-icon"></v-toolbar-side-icon>
                    <v-toolbar-title>
                        <v-img class="toolbar-img" src="./images/kooa_logo.png" contain></v-img>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>

                    <v-toolbar-items class="hidden-sm-and-down">
                        <v-btn href="./team.html" flat>团队</v-btn>
                        <v-btn href="./channel.html" flat>渠道</v-btn>
                        <v-btn href="./achievement.html" flat>业绩</v-btn>
                        <v-btn href="./distribution_network.html" flat>销售网络</v-btn>
                        <v-btn href="./message.html" flat>
                            消息
                            <v-badge right class="toolbar-message-tip">
                                <span slot="badge">6</span>
                            </v-badge>
                        </v-btn>
                    </v-toolbar-items>

                    <v-toolbar-items>

                        <v-menu offset-y>
                            <v-btn flat primary slot="activator">语言</v-btn>
                            <v-list dense class="toolbar-dropdown">
                                <v-list-tile @click="">
                                    <v-list-tile-title>
                                        English
                                    </v-list-tile-title>
                                </v-list-tile>

                                <v-list-tile @click="">
                                    <v-list-tile-title>简体中文</v-list-tile-title>
                                </v-list-tile>
                                <v-list-tile @click="">
                                    <v-list-tile-title>繁体中文</v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                    </v-toolbar-items>

                    <v-toolbar-items class="hidden-sm-and-down">
                        <v-menu offset-y>
                            <v-btn flat primary slot="activator">系统信息</v-btn>
                            <v-list dense class="toolbar-dropdown">

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                <!-- <v-icon>$vuetify.icons.product</v-icon> -->
                                                用户管理
                                            </v-list-tile-title>

                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="window.location.href='./user_permisson.html'">
                                                <v-list-tile-title>
                                                    权限
                                                </v-list-tile-title>
                                            </v-list-tile>
                                            <v-list-tile @click="window.location.href='./user_role.html'">
                                                <v-list-tile-title>
                                                    角色
                                                </v-list-tile-title>
                                            </v-list-tile>
                                            <v-list-tile @click="window.location.href='./user_manage.html'">
                                                <v-list-tile-title>
                                                    用户
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                佣金管理
                                            </v-list-tile-title>
                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="window.location.href='./commision_setting.html'">
                                                <v-list-tile-title>
                                                    佣金设置
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                财务管理
                                            </v-list-tile-title>
                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    财务资料
                                                </v-list-tile-title>
                                            </v-list-tile>
                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    财务报表
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                报表管理
                                            </v-list-tile-title>
                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    经销商报表
                                                </v-list-tile-title>
                                            </v-list-tile>
                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    内部销售员报表
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                参数设置
                                            </v-list-tile-title>
                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="window.location.href='./reg_setting.html'">
                                                <v-list-tile-title>
                                                    注册设置
                                                </v-list-tile-title>
                                            </v-list-tile>

                                            <v-list-tile @click="window.location.href='./notify_setting.html'">
                                                <v-list-tile-title>
                                                    消息设置
                                                </v-list-tile-title>
                                            </v-list-tile>

                                            <v-list-tile @click="window.location.href='./protocol_setting.html'">
                                                <v-list-tile-title>
                                                    协议设置
                                                </v-list-tile-title>
                                            </v-list-tile>

                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    医生脱离设置
                                                </v-list-tile-title>
                                            </v-list-tile>

                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    审批流程设置
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>

                                <div>
                                    <v-menu offset-x left open-on-hover>
                                        <v-list-tile slot="activator" @click="">
                                            <v-list-tile-action>
                                                <v-icon>arrow_left</v-icon>
                                            </v-list-tile-action>

                                            <v-list-tile-title>
                                                审核管理
                                            </v-list-tile-title>
                                        </v-list-tile>
                                        <v-list dense class="toolbar-subdropdown">
                                            <v-list-tile @click="window.location.href='./reg_audit.html'">
                                                <v-list-tile-title>
                                                    注册审核
                                                </v-list-tile-title>
                                            </v-list-tile>

                                            <v-list-tile @click="">
                                                <v-list-tile-title>
                                                    医生脱离审核
                                                </v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </div>
                            </v-list>
                        </v-menu>

                        <v-btn href="./login.html" flat>登出</v-btn>
                    </v-toolbar-items>
                </v-toolbar>
            </div>

            <v-container class="body" grid-list-md text-xs-center>
                <div class="body-header">
                    用户管理
                </div>

                <div class="action-bar">
                    <v-btn color="s-primary" class="ml-0" @click="showAdd = true">
                        <v-icon dark>add</v-icon>新增
                    </v-btn>
                </div>


                <v-data-table :headers="theader" :items="tdata" hide-actions class="elevation-1 s-table">
                    <template slot="items" slot-scope="props">
                        <td class="text-xs-left">{{ props.item.a }}</td>
                        <td class="text-xs-left">{{ props.item.b }}</td>
                        <td class="text-xs-right">{{ props.item.c }}</td>
                        <td class="text-xs-left">{{ props.item.d }}</td>
                        <td class="text-xs-center">
                            <v-icon small class="mr-2">
                                edit
                            </v-icon>
                            <v-icon small>
                                delete
                            </v-icon>

                        </td>
                    </template>
                </v-data-table>

                <v-dialog scrollable v-model="showAdd" width="500">
                    <v-card>
                        <v-card-title class="headline grey lighten-2" primary-title>
                            新增
                        </v-card-title>

                        <v-card-text>
                            <v-form>
                                <v-text-field label="用户名"></v-text-field>
                                <v-text-field label="密码" :append-icon="show_pass ? 'visibility_off' : 'visibility'"
                                    :type="show_pass ? 'text' : 'password'" @click:append="show_pass = !show_pass"></v-text-field>
                                <v-text-field label="确认密码" :append-icon="show_pass1 ? 'visibility_off' : 'visibility'"
                                    :type="show_pass1 ? 'text' : 'password'" @click:append="show_pass1 = !show_pass1"></v-text-field>
                            </v-form>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="s-primary" @click="showAdd = false">
                                确认
                            </v-btn>
                            <v-btn color="primary" flat @click="showAdd = false">
                                取消
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

            </v-container>
        </v-app>
    </div>

    <script src="./js/vue.js"></script>
    <script src="./js/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',

            data() {
                return {

                    show_pass: false,
                    show_pass1: false,

                    showAdd: false,

                    theader: [{
                            text: 'ID',
                            align: 'left',
                            value: 'a',
                            sortable: false,
                        },
                        {
                            text: '登录名',
                            align: 'left',
                            value: 'b',
                            sortable: false,
                        },
                        {
                            text: '角色',
                            align: 'right',
                            value: 'c',
                            sortable: false,
                        },
                        {
                            text: '是否启用',
                            align: 'left',
                            value: 'd',
                            sortable: false,
                        },
                        {
                            text: '操作',
                            align: 'center',
                            value: 'e',
                            sortable: false,
                        },
                    ],
                    tdata: [{
                        a: '1',
                        b: 'admin',
                        c: '管理员',
                        d: '是',
                    }]
                };
            }
        })
    </script>

    <!-- <div id="app">
            <div class="header">
                <mu-appbar color="#42a5f5" class="header-content">
                    <div slot="left">
                        用户管理
                    </div>

                    <div slot="right" class="nav-right">
                        <span style="margin-right: 10px;">注册</span>
                        <span style="margin-right: 10px;">联系方式</span>
                    </div>
                </mu-appbar>
            </div>

            <mu-container class="body">
                <div class="body-header">
                    用户管理
                </div>

                <div class="btn-frame">
                    <mu-button color="primary" @click="openSimpleDialog">新增用户</mu-button>
                </div>

                <mu-data-table border :columns="columns" :data="list" class="table-content">
                    <template slot-scope="scope">
                        <td>{{scope.row.id}}</td>
                        <td class="is-right">{{scope.row.name}}</td>
                        <td class="is-right">{{scope.row.role}}</td>
                        <td class="is-right">{{scope.row.active}}</td>
                        <td class="is-center">
                            <mu-button small fab>
                                <mu-icon value="edit"></mu-icon>
                            </mu-button>
                            <mu-button small fab>
                                <mu-icon value="delete_forever"></mu-icon>
                            </mu-button>
                        </td>
                    </template>
                </mu-data-table>

                <mu-dialog title="用户修改" width="420" :open.sync="openSimple">
                    <mu-form ref="form" class="mu-demo-form" label-position="right" label-width="80">
                        <mu-form-item label="用户名">
                            <mu-text-field prop="username"></mu-text-field>
                        </mu-form-item>
                        <mu-form-item label="密码">
                            <mu-text-field type="password"></mu-text-field>
                        </mu-form-item>
                        <mu-form-item label="确认密码">
                            <mu-text-field type="password"></mu-text-field>
                        </mu-form-item>
                    </mu-form>

                    <mu-button slot="actions" flat color="primary" @click="closeSimpleDialog">确定</mu-button>
                    <mu-button slot="actions" flat @click="closeSimpleDialog">关闭</mu-button>
                </mu-dialog>

            </mu-container>
        </div>


        <script src="./js/vue.js"></script>
        <script src="/js/muse-ui.js"></script>
        <script>
            new Vue({
                data() {
                    return {
                        openSimple: false,

                        columns: [{
                                title: 'ID',
                                name: 'id'
                            },
                            {
                                title: '登录名',
                                name: 'name',
                                align: 'center',
                            },
                            {
                                title: '角色',
                                name: 'role',
                                align: 'center',
                            },
                            {
                                title: '是否启用',
                                name: 'active',
                                align: 'center',
                            },
                            {
                                title: '操作',
                                name: 'active',
                                align: 'center',
                            }
                        ],
                        list: [{
                            id: '1',
                            name: 'admin',
                            role: '管理员',
                            active: '是',
                        }, ]
                    };
                },

                methods: {
                    openSimpleDialog() {
                        this.openSimple = true;
                    },
                    closeSimpleDialog() {
                        this.openSimple = false;
                    }
                }
            }).$mount('#app')
        </script> -->

</body>

</html>