<!-- 角色管理 -->
{extend name="layout:head2_layout"/}

{block name="css"}
<style>
    .role-container {
        border: 1px solid #e3e3e3;
        width: 100%;
    }

    .role-title {
        background-color: #e3e3e3;
    }

    .role {
        width: 100%;
        padding: 8px;
    }

    .role li {
        display: inline-block;
    }
</style>

{/block}

{block name="body"}
<v-container class="content" grid-list-md text-xs-center>
    <div class="content-header">
        角色管理
    </div>

    <div class="action-bar">
        {if (in_array('role/add',$_SESSION['think']['auth']) || $_SESSION['think']['user_info']['id'] == 1)}
        <v-btn color="s-primary" class="ml-0" @click="showAdd = true">
            <v-icon dark>add</v-icon>新增
        </v-btn>
        {/if}
    </div>


    <v-data-table :headers="theader" :items="tdata" hide-actions class="elevation-4 s-table">
        <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.id }}</td>
            <td class="text-xs-left">{{ props.item.role_name }}</td>
            <td class="text-xs-left">{{ props.item.username }}</td>
            <td class="text-xs-left">{{ props.item.pri_name }}</td>
            <td class="text-xs-center">
                {if (in_array('role/edit',$_SESSION['think']['auth']) || $_SESSION['think']['user_info']['id'] == 1)}
                <v-icon small class="mr-2" @click="edit(props.item)">
                    edit
                </v-icon>
                {/if}
                {if (in_array('role/del',$_SESSION['think']['auth']) || $_SESSION['think']['user_info']['id'] == 1)}
                <v-icon small @click="del(props.item)">
                    delete
                </v-icon>
                {/if}
            </td>
        </template>
    </v-data-table>
</v-container>

<!--新增模块-->
<v-dialog scrollable v-model="showAdd" width="500">
    <v-card>
        <v-card-title class="dialog-head blue-grey lighten-5">
            新增
        </v-card-title>

        <v-card-text>
            <v-form>
                <v-text-field label="角色名称" v-model="addItem.role_name"></v-text-field>

                <div class="role-container">
                    <s-tree :init-select="selected" ref="treeAdd" :expend="true" :tree-data="checkBoxData" id-field="id"
                        value-filed="pri_name" root-value="0" parent-field="parent_id"></s-tree>
                </div>
            </v-form>
        </v-card-text>

        <v-card-actions class="dialog-foot blue-grey lighten-5">
            <v-spacer></v-spacer>
            <v-btn color="s-primary" @click="addCommit()">
                确认
            </v-btn>
            <v-btn color="primary" flat @click="showAdd = false">
                取消
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>
<!--修改模块-->
<v-dialog scrollable v-model="showEdit" width="500">
    <v-card>
        <v-card-title class="dialog-head blue-grey lighten-5">
            修改
        </v-card-title>

        <v-card-text>
            <v-form>
                <v-text-field label="角色名称" v-model="editItem.role_name"></v-text-field>
                <input type="hidden" v-model="editItem.id" name="id">
                <div class="role-container">
                    <s-tree :init-select="selected" ref="treeEdit" :expend="true" :tree-data="checkBoxData" id-field="id"
                        value-filed="pri_name" root-value="0" parent-field="parent_id"></s-tree>
                </div>
            </v-form>
        </v-card-text>

        <v-card-actions class="dialog-foot blue-grey lighten-5">
            <v-spacer></v-spacer>
            <v-btn color="s-primary" @click="editCommit()">
                确认
            </v-btn>
            <v-btn color="primary" flat @click="showEdit = false">
                取消
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>

{/block}

{block name="script"}
<script src="__basePath__/js/chunks/user_role.js?date=__date__"></script>
{/block}