{extend name="layout:head_layout"/}

{block name="css"}
<style>
    .content {
        max-width: 600px;
    }

    .reg-btn {
        margin: 10px 0;
        width: 100%;
    }

    .protocol {
        text-align: center;
        margin-top: 10px;
    }
    </style>
{/block}


{block name="body"}
<v-container class="content" grid-list-md text-xs-center>
    <div class="content-header">
        注册
    </div>

    <v-form>
        <v-text-field label="用户名"></v-text-field>
        <v-text-field label="密码" type="password"></v-text-field>
        <v-text-field label="确认密码" type="password"></v-text-field>

        <div class="protocol">
            <a href="javascript:void(0)" @click="dialog = true">＜同意xxx协议＞</a>
        </div>
        <v-btn color="s-primary reg-btn">注册</v-btn>
    </v-form>

</v-container>

<v-dialog scrollable v-model="dialog" width="500">
    <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>
            法律条文
        </v-card-title>

        <v-card-text>
            法律条文
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" flat @click="dialog = false">
                我同意
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>

{/block}

{block name="script"}
<script src="__basePath__/js/chunks/company_reg.js?date=__date__"></script>
{/block}