{extend name="layout:head_layout"/}

{block name="css"}
<style>
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 600px;
    }

    .reg-btn {
        margin: 10px 0;
        width: 100%;
    }

    .protocol {
        text-align: center;
        /* margin-top: 10px; */
    }

    .protocol div{
        display: inline-block;
    }

    .protocol .v-input--checkbox{
        margin-top: 0;
    }

    .protocol .v-input--selection-controls__input{
        vertical-align: bottom;
    }
</style>
{/block}


{block name="body"}
<v-container class="content" grid-list-md text-xs-center>
    <div class="content-header">
        注册
    </div>

    <v-form ref="form" v-model="valid">
        <v-text-field label="用户名" :rules="userNameRoules" maxlength="12"></v-text-field>
        <v-text-field label="密码" :append-icon="show_pass ? 'visibility_off' : 'visibility'" v-model.trim="data.password"
            :type="show_pass ? 'text' : 'password'" :rules="passwordRoules" @click:append="show_pass = !show_pass"></v-text-field>

        <v-text-field label="再次输入密码" :append-icon="show_pass1 ? 'visibility_off' : 'visibility'" v-model.trim="data.rePassword"
            :type="show_pass1 ? 'text' : 'password'" :rules="rePasswordRoules" @click:append="show_pass1 = !show_pass1"></v-text-field>

        <v-layout row wrap align-center>
            <v-flex xs9>
                <v-text-field label="手机号" :rules="phoneRoules" v-model.trim="data.phone_num"></v-text-field>
            </v-flex>
            <v-flex xs3 class="text-xs-right">
                <v-btn class="s-primary mr-0" @click="sendSMS" :rules="IdentifyingCodeRoules" :disabled="smsDisabled">{{identifyBtnText}}</v-btn>
            </v-flex>
        </v-layout>

        <v-text-field label="验证码" :rules="IdentifyingCodeRoules" v-model.trim="data.identify_code"></v-text-field>

        <div class="protocol">

            <v-checkbox hide-details v-model="data.agree" :rules="checkAgree"></v-checkbox>
            <span>
                同意
            </span>
            <a href="javascript:void(0)" @click="dialog = true">＜xxx协议＞</a>
            </v-layout>
        </div>
        <v-btn color="s-primary reg-btn" :disabled="!valid && !submitLoading" :loading="submitLoading">注册</v-btn>
    </v-form>

</v-container>

<v-dialog scrollable v-model="dialog" width="500">
    <v-card>
        <v-card-title class="headline grey lighten-2" primary-title>
            法律条文
        </v-card-title>

        <v-card-text>
            法律条文
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" flat @click="dialog = false">
                我同意
            </v-btn>
        </v-card-actions>
    </v-card>
</v-dialog>

{/block}

{block name="script"}
<script src="__basePath__/js/chunks/user_reg.js?date=__date__"></script>
{/block}