<!-- 权限管理 -->
{extend name="layout:head2_layout"/}

{block name="css"}

{/block}

{block name="body"}
<v-container class="content" grid-list-md text-xs-center>
    <div class="content-header">
        权限管理
    </div>

    <div class="action-bar">
        <v-btn color="s-primary" class="ml-0" @click="showAdd = true">
            <v-icon dark>add</v-icon>新增
        </v-btn>
    </div>


    <v-data-table :headers="theader" :items="tdata" hide-actions class="elevation-1 s-table">
        <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.a }}</td>
            <td class="text-xs-left">{{ props.item.b }}</td>
            <td class="text-xs-right">{{ props.item.c }}</td>
            <td class="text-xs-center">
                <v-icon small class="mr-2">
                    edit
                </v-icon>
                <v-icon small>
                    delete
                </v-icon>

            </td>
        </template>
    </v-data-table>

    <v-dialog scrollable v-model="showAdd" width="500">
        <v-card>
            <v-card-title class="headline grey lighten-2" primary-title>
                新增
            </v-card-title>

            <v-card-text>
                <v-form>
                    <v-select :items="items" label="上级权限"></v-select>
                    <v-text-field label="权限名称"></v-text-field>
                    <v-text-field label="模块"></v-text-field>
                    <v-text-field label="控制器"></v-text-field>
                    <v-text-field label="方法"></v-text-field>
                </v-form>
            </v-card-text>

            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="s-primary" @click="showAdd = false">
                    确认
                </v-btn>
                <v-btn color="primary" flat @click="showAdd = false">
                    取消
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

</v-container>
{/block}

{block name="script"}
<script src="__basePath__/js/chunks/user_permisson.js?date=__date__"></script>
{/block}
